# Project exclude paths
/themes/keycloak-preview/account/resources/app/account-service/account.service.js
/themes/keycloak-preview/account/resources/app/account-service/account.service.js.map
/themes/keycloak-preview/account/resources/app/content/account-page/AccountPage.js
/themes/keycloak-preview/account/resources/app/content/account-page/AccountPage.js.map
/themes/keycloak-preview/account/resources/app/content/aia-page/AppInitiatedActionPage.js
/themes/keycloak-preview/account/resources/app/content/aia-page/AppInitiatedActionPage.js.map
/themes/keycloak-preview/account/resources/app/content/applications-page/ApplicationsPage.js
/themes/keycloak-preview/account/resources/app/content/applications-page/ApplicationsPage.js.map
/themes/keycloak-preview/account/resources/app/content/authenticator-page/AuthenticatorPage.js
/themes/keycloak-preview/account/resources/app/content/authenticator-page/AuthenticatorPage.js.map
/themes/keycloak-preview/account/resources/app/content/device-activity-page/DeviceActivityPage.js
/themes/keycloak-preview/account/resources/app/content/device-activity-page/DeviceActivityPage.js.map
/themes/keycloak-preview/account/resources/app/content/linked-accounts-page/LinkedAccountsPage.js
/themes/keycloak-preview/account/resources/app/content/linked-accounts-page/LinkedAccountsPage.js.map
/themes/keycloak-preview/account/resources/app/content/my-resources-page/MyResourcesPage.js
/themes/keycloak-preview/account/resources/app/content/my-resources-page/MyResourcesPage.js.map
/themes/keycloak-preview/account/resources/app/content/my-resources-page/ResourcesTable.js
/themes/keycloak-preview/account/resources/app/content/my-resources-page/ResourcesTable.js.map
/themes/keycloak-preview/account/resources/app/content/my-resources-page/ShareTheResource.js
/themes/keycloak-preview/account/resources/app/content/my-resources-page/ShareTheResource.js.map
/themes/keycloak-preview/account/resources/app/content/page-not-found/PageNotFound.js
/themes/keycloak-preview/account/resources/app/content/page-not-found/PageNotFound.js.map
/themes/keycloak-preview/account/resources/app/content/password-page/PasswordPage.js
/themes/keycloak-preview/account/resources/app/content/password-page/PasswordPage.js.map
/themes/keycloak-preview/account/resources/app/content/signingin-page/SigningInPage.js
/themes/keycloak-preview/account/resources/app/content/signingin-page/SigningInPage.js.map
/themes/keycloak-preview/account/resources/app/content/ContentAlert.js
/themes/keycloak-preview/account/resources/app/content/ContentAlert.js.map
/themes/keycloak-preview/account/resources/app/content/ContentPage.js
/themes/keycloak-preview/account/resources/app/content/ContentPage.js.map
/themes/keycloak-preview/account/resources/app/keycloak-service/keycloak.service.js
/themes/keycloak-preview/account/resources/app/keycloak-service/keycloak.service.js.map
/themes/keycloak-preview/account/resources/app/util/AIACommand.js
/themes/keycloak-preview/account/resources/app/util/AIACommand.js.map
/themes/keycloak-preview/account/resources/app/util/RedirectUri.js
/themes/keycloak-preview/account/resources/app/util/RedirectUri.js.map
/themes/keycloak-preview/account/resources/app/widgets/ContinueCancelModal.js
/themes/keycloak-preview/account/resources/app/widgets/ContinueCancelModal.js.map
/themes/keycloak-preview/account/resources/app/widgets/features.js
/themes/keycloak-preview/account/resources/app/widgets/features.js.map
/themes/keycloak-preview/account/resources/app/widgets/LocaleSelectors.js
/themes/keycloak-preview/account/resources/app/widgets/LocaleSelectors.js.map
/themes/keycloak-preview/account/resources/app/widgets/Logout.js
/themes/keycloak-preview/account/resources/app/widgets/Logout.js.map
/themes/keycloak-preview/account/resources/app/widgets/Msg.js
/themes/keycloak-preview/account/resources/app/widgets/Msg.js.map
/themes/keycloak-preview/account/resources/app/widgets/ReferrerDropdownItem.js
/themes/keycloak-preview/account/resources/app/widgets/ReferrerDropdownItem.js.map
/themes/keycloak-preview/account/resources/app/widgets/ReferrerLink.js
/themes/keycloak-preview/account/resources/app/widgets/ReferrerLink.js.map
/themes/keycloak-preview/account/resources/app/App.js
/themes/keycloak-preview/account/resources/app/App.js.map
/themes/keycloak-preview/account/resources/app/ContentPages.js
/themes/keycloak-preview/account/resources/app/ContentPages.js.map
/themes/keycloak-preview/account/resources/app/PageNav.js
/themes/keycloak-preview/account/resources/app/PageNav.js.map
/themes/keycloak-preview/account/resources/app/PageToolbar.js
/themes/keycloak-preview/account/resources/app/PageToolbar.js.map
/themes/keycloak-preview/account/resources/environments/environment.js
/themes/keycloak-preview/account/resources/environments/environment.js.map
/themes/keycloak-preview/account/resources/environments/environment.prod.js
/themes/keycloak-preview/account/resources/environments/environment.prod.js.map
/themes/keycloak-preview/account/resources/Main.js
/themes/keycloak-preview/account/resources/Main.js.map